<!--
##############################################################################
# File Name: listprofiles.html
# Description:
#  XXX
# Author: Peter Leung (pleungms@hotmail.com)
# Modification history
#  Author         Date       Description
#  -------------- ---------- -------------------------------------------------
#  Peter Leung    30/08/2018 Initial version
#
###############################################################################
 -->
<html>
<head>

<!--
# Importing angular libraries
  -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>

<!--
# Angular functions defined
  -->
<script>
var app = angular.module('myApp', []);
app.controller('appCtrl', function($scope, $http, $timeout) {

    $scope.reload = function() {

        $http.get("http://40.113.137.215/api/getprofile")
        .then(function (response) {

            $scope.profiledata = response.data;

            $scope.statuscode = response.status;
            $scope.statustext = response.statusText;
        });

        $timeout(function(){
            $scope.reload();
        }, 10000)
    }; //reload
    $scope.reload();
});
</script>

</head>

<body>

<p>Hello World! from main.html</p>

<div ng-app="myApp" ng-controller="appCtrl">

    <table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>e-Mail</th>
    </tr>
    <tr ng-repeat="profile in profiledata">
        <td ng-repeat="profilerow in profile">
                {{ profilerow.value }}
        </td>
    </tr>
    </table>

<p> Raw data: </p>

<!--    {{ profiledata }} -->
	{{ statuscode }}
    {{ statustext }}

</div>

</body>
</html>

