
<style type="text/css">

p.main {
	font-family: verdana,arial,sans-serif;
	font-size:16px;
	color:#201104;
}
p.status {
	font-family: verdana,arial,sans-serif;
	font-size:10px;
	color:#c4c4c4;
}

</style>